<ion-header [translucent]="true">
  <ion-toolbar color="warning tint"> <!--mudado a cor o toolbar-->
    <ion-grid class="toolbar"><!--Criado um grid pra separar as informaçoes-->
      <ion-row class="ion-justify-content-between"> <!--Faz o juste automatico do tamanho-->
        <ion-row>
          <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
            <ion-label>Alcides Sandoli</ion-label>
            <ion-row>
              <ion-label>Humano Variante</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
          <ion-row class="ion-justify-content-start"><!--Faz o juste automatico do tamanho-->
          <ion-label>Guerreiro Campeão 1</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="auto">
          <!--Coloca um bottão de UP-->
          <ion-buttons>
            <ion-button size="auto" color="primary" size="large">
              <ion-icon slot="icon-only" name="arrow-up-circle-outline" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Equipamentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
          <ion-accordion-group class="content" *ngFor="let le of listEquipamentos.getEquipamentos(); let ind = index">
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>{{le.name}}</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <p><strong> Alcace: </strong>{{le.alcance}}</p>
                <p><strong> Dano: </strong>{{le.dano}}</p>
                <p><strong> Proproedades: </strong>{{le.proproedades}}</p>
                <ion-row class="ion-justify-content-between">
                  <ion-button (click)="apagarItem(ind)" color="danger" ><ion-icon slot="icon-only" name="trash" ></ion-icon></ion-button>
                  <ion-button color="primary" ><ion-icon slot="icon-only" name="dice-outline" ></ion-icon></ion-button>
                </ion-row>
              </div>
            </ion-accordion>
          </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-fab id="popover-button" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="setOpen(true)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-modal [isOpen]="isModalOpen" id="example-modal" #modal (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <div class="wrapper">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel(false)">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)" [strong]="true">Salvar</ion-button>
          </ion-buttons>
        </ion-toolbar>
            <ion-input [(ngModel)]="nome" label="Nome do Equipamentos" label-placement="floating" fill="solid" ></ion-input>
          <ion-row>
            <ion-select
              interface="popover"
              label="Alcance da Arma"
              label-placement="floating"
              [(ngModel)]="alcance"
              class="collum"
            >
              <ion-select-option value="1.5m">1.5m</ion-select-option>
              <ion-select-option value="1.5m/4.5">1.5m/4.5</ion-select-option>
              <ion-select-option value="7.5m/30m">7.5m/30m</ion-select-option>
              <ion-select-option value="6m/18m">6m/18m</ion-select-option>
              <ion-select-option value="9m/36m">9m/36m</ion-select-option>
              <ion-select-option value="24m/96m">24m/96m</ion-select-option>
              <ion-select-option value="30m/120m">30m/120m</ion-select-option>
              <ion-select-option value="45m/180m">45m/180m</ion-select-option>
            </ion-select>
          </ion-row>
          <ion-row>
            <ion-select
              interface="popover"
              label="Dano da Arma"
              label-placement="floating"
              [(ngModel)]="dano"
              class="collum"
            >
              <ion-select-option value="1d4">1d4</ion-select-option>
              <ion-select-option value="1d6">1d6</ion-select-option>
              <ion-select-option value="1d8">1d8</ion-select-option>
              <ion-select-option value="1d10">1d10</ion-select-option>
              <ion-select-option value="1d12">1d12</ion-select-option>
              <ion-select-option value="2d6">2d6</ion-select-option>
            </ion-select>
          </ion-row>
          <ion-row>
            <ion-select
              interface="popover"
              label="Proproedades da Arma"
              label-placement="floating"
              [(ngModel)]="proproedades"
              [multiple]="true"
              class="collum"
            >
              <ion-select-option value="Leve">Leve</ion-select-option>
              <ion-select-option value="Pesada">Pesada</ion-select-option>
              <ion-select-option value="Versátil">Versátil</ion-select-option>
              <ion-select-option value="Duas mãos">Duas mãos</ion-select-option>
              <ion-select-option value="Acuidade">Acuidade</ion-select-option>
              <ion-select-option value="Alcance">Alcance</ion-select-option>
              <ion-select-option value="Arremesso">Arremesso</ion-select-option>
              <ion-select-option value="Distância">Distância</ion-select-option>
              <ion-select-option value="Munição">Munição</ion-select-option>
              <ion-select-option value="Recarga">Recarga</ion-select-option>
              <ion-select-option value="Especial">Especial</ion-select-option>
            </ion-select>
          </ion-row>
    </div>
  </ng-template>
</ion-modal>
</ion-content>
