<ion-header [translucent]="true">
  <ion-toolbar color="warning tint"> <!--mudado a cor o toolbar-->
    <ion-grid class="toolbar"><!--Criado um grid pra separar as informaçoes-->
      <ion-row class="ion-justify-content-between"> <!--Faz o juste automatico do tamanho-->
        <ion-row>
          <ion-img style="width: 40px;height: 40px;" src="../../assets/5aad1e98e2f1a0c78ce302f9bfe76f1a.jpg"></ion-img>
          <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
            <ion-label>Alcides Sandoli</ion-label>
            <ion-row>
              <ion-label>Humano Variante</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
          <ion-row class="ion-justify-content-start"><!--Faz o juste automatico do tamanho-->
          <ion-label>Guerreiro Campeão 1</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>XP - 299/300</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="auto">
          <!--Coloca um bottão de UP-->
          <ion-buttons>
            <ion-button size="auto" color="primary" size="large">
              <ion-icon slot="icon-only" name="arrow-up-circle-outline" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1>Magias</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-title>1° Circulo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
          <ion-accordion-group class="content">
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Mãos Falmejantes</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <p><strong>Tempo de Conjuração:</strong> 1 Ação</p>
                <p><strong>Duração:</strong> Instantaneo</p>
                <p><strong>Componentes:</strong>V,S,M</p>
                <p><strong>Descrição: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quod cupiditate voluptatem laboriosam iusto repudiandae officiis numquam magnam? Nisi debitis enim tempore cum harum similique magnam, vero laudantium repudiandae facere!</p>
              </div>
            </ion-accordion>
          </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>2° Circulo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
          <ion-accordion-group class="content">
            <ion-accordion value="first">
              <ion-item slot="header">
                <ion-label>Mãos Falmejantes</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <p><strong>Tempo de Conjuração:</strong> 1 Ação</p>
                <p><strong>Duração:</strong> Instantaneo</p>
                <p><strong>Componentes:</strong>V,S,M</p>
                <p><strong>Descrição: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, quod cupiditate voluptatem laboriosam iusto repudiandae officiis numquam magnam? Nisi debitis enim tempore cum harum similique magnam, vero laudantium repudiandae facere!</p>
              </div>
            </ion-accordion>
          </ion-accordion-group>
    </ion-card-content>
  </ion-card>
</ion-content>
