<ion-header [translucent]="true">
  <ion-toolbar color="warning tint"> <!--mudado a cor o toolbar-->
    <ion-grid ><!--Criado um grid pra separar as informaçoes-->
      <ion-row class="ion-justify-content-between"> <!--Faz o juste automatico do tamanho-->
        <ion-row>
          <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
            <ion-label>Alcides Sandoli</ion-label>
            <ion-row>
              <ion-label>Humano Variante</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
          <ion-row class="ion-justify-content-start"><!--Faz o juste automatico do tamanho-->
          <ion-label>Guerreiro Campeão 1</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>XP - 299/300</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="auto">
          <!--Coloca um bottão de UP-->
          <ion-buttons>
            <ion-button size="auto" color="primary" size="large">
              <ion-icon slot="icon-only" name="arrow-up-circle-outline" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h2>Magias</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>1° Circulo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                </ion-thumbnail>
                <ion-label>First Accordion</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque laboriosam sapiente ducimus blanditiis, nihil adipisci animi accusantium autem eum cupiditate libero soluta facere deserunt porro modi ipsa accusamus velit iste.</div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
