<ion-header [translucent]="true">
  <ion-toolbar color="warning tint"> <!--mudado a cor o toolbar-->
    <ion-grid ><!--Criado um grid pra separar as informaçoes-->
      <ion-row class="ion-justify-content-between"> <!--Faz o juste automatico do tamanho-->
        <ion-row>
          <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
            <ion-label>Alcides Sandoli</ion-label>
            <ion-row>
              <ion-label>Humano Variante</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
          <ion-row class="ion-justify-content-start"><!--Faz o juste automatico do tamanho-->
          <ion-label>Guerreiro Campeão 1</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>XP - 299/300</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="auto">
          <!--Coloca um bottão de UP-->
          <ion-buttons>
            <ion-button size="auto" color="primary" size="large">
              <ion-icon slot="icon-only" name="arrow-up-circle-outline" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light shade">
<div class="squere">
  <ion-button  class="bt">Descanso <br> Longo</ion-button>
  <div style="max-width: 400%;">
    <ion-label>Bônus de proficiência: +2</ion-label>
    <ion-img  src=" ../../assets/5aad1e98e2f1a0c78ce302f9bfe76f1a.jpg"></ion-img>
  </div>
  <ion-button  class="bt">Desncanço <br> Curto</ion-button>
</div>
<div class="VIA">
  <div class="coluna">
    <ion-label>
      9m
    </ion-label>
    <ion-label>
      Velocidade
    </ion-label>
  </div>
  <div class="coluna">
    <ion-label>
      +3
    </ion-label>
    <ion-label>
      Iniciativa
    </ion-label>
  </div>
  <div class="coluna">
    <ion-label>
      18
    </ion-label>
    <ion-label>
      Armadura
    </ion-label>
  </div>
</div>

</ion-content>
