.squere
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.VIA{
  display: flex;
  justify-content:  center;

  flex-direction: row;
  background-color: red;
  margin-top: 2%;
}
.coluna{
  display: flex;
  flex-direction: column;
  margin: 2%;
  text-align: center;
}
.content{
  background-color: blue;
  width: 10dvh;
  height: 11dvh;
  margin: 5%;
  text-align: center;
  padding-top: 2%;
  font-size: 85%;

}
/*.atribut{
  background-color: whitesmoke;
  width: 48%;
  height: 48%;
  margin-left: 25%;
  margin-top: 10%;
  color:black;
  text-align: center;
  padding-top: 12%;
  font-size: large;

}*/
.modfy{
  background-color: whitesmoke;
  border-radius: 50%;
  width: 25%;
  height: 25%;
  margin-left: 35% ;
  margin-top: 8%;
  color: black;
  padding-right: 5%;
  padding-top: 2%;
  text-align: center;
}
.att{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.condlist{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50%;
  max-height: 22%;
  justify-content: center;
}
.condlist ion-checkbox{
  max-width: min-content;
  padding: 3px;

}
ion-input.custom {
  --background: #d8d8d8;
  --color: #000000;


  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  font-size: 150%;
  max-width: 60%;
  display: flex;
  margin-left: 20%;

}




