<ion-header [translucent]="true">
  <ion-toolbar color="warning tint"> <!--mudado a cor o toolbar-->
    <ion-grid ><!--Criado um grid pra separar as informaçoes-->
      <ion-row class="ion-justify-content-between"> <!--Faz o juste automatico do tamanho-->
        <ion-row>
          <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
            <ion-label>Alcides Sandoli</ion-label>
            <ion-row>
              <ion-label>Humano Variante</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-col size="auto"><!--Faz o juste automatico do tamanho-->
          <ion-row class="ion-justify-content-start"><!--Faz o juste automatico do tamanho-->
          <ion-label>Guerreiro Campeão 1</ion-label>
          </ion-row>
          <ion-row>
            <ion-label>XP - 299/300</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="auto">
          <!--Coloca um bottão de UP-->
          <ion-buttons>
            <ion-button size="auto" color="primary" size="large">
              <ion-icon slot="icon-only" name="arrow-up-circle-outline" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light shade">
<div class="squere">
  <ion-button  class="bt">Descanso <br> Longo</ion-button>
  <div style="max-width: 28%; max-height: 28%;">
    <ion-label>Bônus de proficiência: +2</ion-label>
    <ion-img src="https://ionicframework.com/docs/img/demos/thumbnail.svg"></ion-img>
  </div>
  <ion-button  class="bt">Desncanço <br> Curto</ion-button>
</div>
<div class="VIA">
  <div class="coluna">
    <ion-label>
      9m
    </ion-label>
    <ion-label>
      Velocidade
    </ion-label>
  </div>
  <div class="coluna">
    <ion-label>
      +3
    </ion-label>
    <ion-label>
      Iniciativa
    </ion-label>
  </div>
  <div class="coluna">
    <ion-label>
      18
    </ion-label>
    <ion-label>
      Armadura
    </ion-label>
  </div>
</div>
<div class="att">
  <div class="content">
    <ion-label>Força</ion-label>
    <ion-input
  aria-label="Custom input"
  value="{{for}}"
  class="custom"
  maxlength="2"
  type="number"
  (ionInput)="setfor($event)"

></ion-input>
    <div class="modfy">
      <ion-label>{{modificadorCalc(for)}}</ion-label>
    </div>
  </div>
  <div class="content">
    <ion-label>Destresa</ion-label>
        <ion-input
  aria-label="Custom input"
  value="{{des}}"
  class="custom"
  maxlength="2"
  type="number"
  (ionInput)="setdes($event)"
  #ionInputEl
></ion-input>
    <div class="modfy">
      <ion-label>{{modificadorCalc(des)}}</ion-label>
    </div>
  </div>
  <div class="content">
    <ion-label>Constituição</ion-label>
        <ion-input
  aria-label="Custom input"
  value="{{con}}"
  class="custom"
  maxlength="2"
  type="number"
  (ionInput)="setcon($event)"
></ion-input>
    <div class="modfy">
      <ion-label>{{modificadorCalc(con)}}</ion-label>
    </div>
  </div>
</div>
<div class="att">
  <div class="content">
    <ion-label>Inteligência</ion-label>
        <ion-input
  aria-label="Custom input"
  value="{{int}}"
  class="custom"
  maxlength="2"
  type="number"
  (ionInput)="setint($event)"
></ion-input>
    <div class="modfy">
      <ion-label>{{modificadorCalc(int)}}</ion-label>
    </div>
  </div>
  <div class="content">
    <ion-label>Sabedoria</ion-label>
        <ion-input
  aria-label="Custom input"
  value="{{sab}}"
  class="custom"
  maxlength="2"
  type="number"
  (ionInput)="setsab($event)"
></ion-input>
    <div class="modfy">
      <ion-label>{{modificadorCalc(sab)}}</ion-label>
    </div>
  </div>
  <div class="content">
    <ion-label>Carisma</ion-label>
        <ion-input
  aria-label="Custom input"
  value="{{car}}"
  class="custom"
  maxlength="2"
  type="number"
  (ionInput)="setcar($event)"
></ion-input>
    <div class="modfy">
      <ion-label>{{modificadorCalc(car)}}</ion-label>
    </div>
  </div>
</div>
<div class="condlist">
<ion-checkbox labelPlacement="end">Agarrado</ion-checkbox>
<ion-checkbox labelPlacement="end">Amedrontado</ion-checkbox>
<ion-checkbox labelPlacement="end">Atordoado</ion-checkbox>
<ion-checkbox labelPlacement="end">Caído</ion-checkbox>
<ion-checkbox labelPlacement="end">Cego</ion-checkbox>
<ion-checkbox labelPlacement="end">Contido</ion-checkbox>
<ion-checkbox labelPlacement="end">Envenenado</ion-checkbox>
<ion-checkbox labelPlacement="end">Enfeitiçado</ion-checkbox>
<ion-checkbox labelPlacement="end">Incapacitado</ion-checkbox>
<ion-checkbox labelPlacement="end">Inconsciente</ion-checkbox>
<ion-checkbox labelPlacement="end">Invisível</ion-checkbox>
<ion-checkbox labelPlacement="end">Paralisado</ion-checkbox>
<ion-checkbox labelPlacement="end">Petrificado</ion-checkbox>
<ion-checkbox labelPlacement="end">Surdo</ion-checkbox>
<ion-checkbox labelPlacement="end">Surpresa</ion-checkbox>
</div>

</ion-content>
